.footer {
  padding-bottom: 526px;
  &__social {
    color: black;
    border: 2px solid #000000;
  }
  &__block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__map {
    height: 547px;
  }
}
