.promo {
  padding: 55px 0 265px 0;
  min-height: 901px;
  width: 100%;
  background: url("../img/tZeezotje_BG.jpg");
  .mini__menu {
    display: none;
  }
  &__header {
    display: flex;
    align-items: center;
    &__hamburger {
      display: none;
    }

    &-logo {
      width: 269px;
      height: 55px;
      img {
        width: 100%;
      }
    }
    &-menu {
      margin-left: 85px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      &-items {
        padding: 0;
        margin: 0;
        display: flex;
        list-style-type: none;
      }
      &-item {
        margin-left: 45px;
        padding: 0;
        transition: all 0.6s;
        &:hover {
          transition: all 0.6s;
          transform: scale(1.2);
        }
        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    &-tel {
      margin-left: 157px;
      img {
        margin-right: 11px;
      }
      a {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
      }
    }
  }
  &__subtittle {
    margin-top: 154px;
    width: 366px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    letter-spacing: 0.06em;
  }
  &__tittle {
    margin-top: 24px;
    width: 1168px;
    height: 176px;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    color: #ffffff;
  }
  &__contacts {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    width: 270px;
    height: 100px;
    background: #3a4574;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    border: none;
  }

  &__social {
    border: 2px solid #fff;
    color: #ffffff;
  }
  &__img {
    display: none;
    img {
      width: 100%;
    }
  }
}
